body {
background-color: black;
}
header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
}
nav span {
  padding-right: 30px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
.logo img {
  height: 50px;
  padding-left: 10px;
  color: seashell;
}
.large {
  text-align: center;
}
.mission {
  position: absolute;
  top: 350px;
  display: block;
  background-color: black;
  width: 100%;
  color: seashell;
  font-family: Helvetica;
}
.teamonth {
text-align: center;
color: seashell;
font-family: helvetica;
}
.picsmonth {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1000px;
  color: white;
  text-align: center;
}
