body {
background-color: black;
margin: 0px;
}
header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
}
nav span {
  padding-right: 30px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
.logo img {
  height: 50px;
  padding-left: 10px;
  color: seashell;
}
.large {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-size: auto;
}
.mission {
  display: block;
  background-color: black;
  width: 1200px;
  color: seashell;
  font-family: Helvetica;
  text-align: center;
}
.teamonth {
text-align: center;
color: seashell;
font-family: helvetica;
}
.picsmonth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  color: white;
  font-family: Helvetica;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}
.myrtle {
  margin-left: 170px;

}
.bedford {
  margin-right: 170px;
}
.downtown  {
  width: 300px;
  height: 250px;
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
}
.bayside {
  width: 300px;
  height: 250px;
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
}
.Oakdale {
  width: 300px;
  height: 250px;
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
}
.locations {
  display: flex;
  width: 1000px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.locationpic {
  display: flex;
  flex-direction: column;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  width: 1200px;
  height: 500px;
  align-items: center;
  margin: auto;
}
.locationpic h2 {
  color: seashell;
  font-size: 42px;
  font-family: helvetica;
  font-weight: bold;
  margin-bottom: 15px;
}
.contact {
  color: seashell;
  text-align: center;
  font-family: Helvetica;
}
.copyright {
  text-align: left;
  color: seashell;
  font-family: Helvetica;
  margin-left: 20px;
}
